<template>
    <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Employee delete</p>
            </header>
            <section class="modal-card-body">
                <p>Do you want to delete the employee?</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">No</button>
                <button class="button is-danger" @click="deleteEmployee">Yes</button>
            </footer>
    </div>
</template>
<script>
    export default {
        props: ['id'],
        methods : {
            deleteEmployee(){
                axios.delete('/api/employees',
                    {
                        data:{
                            id: this.id,
                        }
                    }
                ).then(response => {
                    if(response.data == 'success'){
                        this.$router.push('/employees')
                    }
                });
            }
        }
    }
</script>