<template>
    <div>
        <form enctype="multipart/form-data">
            <div class="columns">
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <b-field 
                            label="Title"
                            :label-position="labelPosition">
                                <b-input
                                    id='title'
                                    :value="title"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Name"
                                :type="nameFieldType"
                                :label-position="labelPosition">
                                <b-input
                                    id='name'
                                    :value="name"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                                label="Gender"
                                :label-position="labelPosition">
                                <b-select
                                    id='gender'
                                    v-model="gender"
                                    >
                                    <option value="NOINPUT">-</option>
                                    <option value="MALE">Male</option>
                                    <option value="FEMALE">Female</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Workhours"
                                :label-position="labelPosition">
                                <b-input
                                    id='workhours'
                                    :value="workhours"
                                    >
                                </b-input>
                                <b-select
                                    id="workhour_type"
                                    v-model="workhour_type"
                                >
                                    <option value="WEEKLY">/week</option>
                                    <option value="MONTHLY">/month</option>
                                </b-select>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Birthday"
                                :label-position="labelPosition">
                                <b-datepicker
                                    v-model="birth_date"
                                    id="birth_date"
                                    icon="calendar-today">
                                </b-datepicker>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                                label="Department"
                                :label-position="labelPosition">
                                <b-input
                                    id='department'
                                    :value="department"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Company"
                                :label-position="labelPosition">
                                <b-input
                                    id='company'
                                    :value="company"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                                label="Position"
                                :label-position="labelPosition">
                                <b-input
                                    id='position'
                                    :value="position"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Superior"
                                :label-position="labelPosition">
                                <b-select
                                    id='superior'
                                    v-model="superior"
                                    >
                                    <option
                                        v-for="superior in flatEmployees"
                                        :value="superior.id"
                                        :key="superior.id">
                                        {{superior.name}}
                                    </option>
                                </b-select>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                                label="Email"
                                :label-position="labelPosition">
                                <b-input
                                    id="email"
                                    type="email"
                                    :value="email"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Phone"
                                :label-position="labelPosition">
                                <b-input
                                    id="phone"
                                    :value="phone"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Workphone"
                                :label-position="labelPosition">
                                <b-input
                                    id="workphone"
                                    :value="workphone"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                            label="Living place"
                            :label-position="labelPosition">
                                <b-input
                                    id='living_place'
                                    :value="living_place"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Contact Address"
                                :label-position="labelPosition">
                                <b-input
                                    id='contact_address'
                                    :value="contact_address"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                            label="Tax number"
                            :label-position="labelPosition">
                                <b-input
                                    id='tax_number'
                                    :value="tax_number"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="TAJ Number"
                                :label-position="labelPosition">
                                <b-input
                                    id='taj_number'
                                    :value="taj_number"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                                label="Nationality"
                                :label-position="labelPosition">
                                <b-input
                                    id="nationality"
                                    :value="nationality"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Education"
                                :label-position="labelPosition">
                                <b-input
                                    id="education"
                                    :value="education"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                                label="Languages"
                                :label-position="labelPosition">
                                <b-input
                                    id="languages"
                                    :value="languages"
                                    >
                                </b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field 
                                label="Status"
                                :label-position="labelPosition">
                                <b-switch 
                                    id="status"
                                    true-value="1"
                                    false-value="0"
                                    v-model="status">
                                    <p v-if="status">
                                        Active
                                    </p>
                                    <p v-else>
                                        Passive
                                    </p>
                                </b-switch>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field 
                                label="Tasks and Responsoblities"
                                :label-position="labelPosition">
                                <b-input 
                                    id="tasks_responsiblities"
                                    maxlength="200"
                                    type="textarea">
                                        {{ tasks_responsiblities}}
                                    </b-input>
                            </b-field>
                        </div>
                    </div>

                </div>
                <div class="column">
                    <b-field
                        label="Primary Emergency Contact">
                        <div class="columns" v-if="isEditPrimaryContact">
                            <div class="column">
                                <b-field 
                                    label="Name"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="primary_contact_name"
                                        :value="primary_contact_name"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field 
                                    label="Relationship"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="primary_contact_relationship"
                                        :value="primary_contact_relationship"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field 
                                    label="Phone"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="primary_contact_phone"
                                        :value="primary_contact_phone"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-button
                                    type="is-danger"
                                    @click="editPrimaryContact">
                                    <b-icon icon="cancel"></b-icon>
                                </b-button>
                            </div>
                        </div>
                        <div class="columns" v-else>
                            <div class="column">
                                Name:<br>
                                {{primary_contact_name}}
                            </div>
                            <div class="column">
                                Relationship:<br>
                                {{primary_contact_relationship}}
                            </div>
                            <div class="column">
                                Phone:<br>
                                {{primary_contact_phone}}
                            </div>
                            <div class="column">
                                <b-button
                                    type="is-warning"
                                    @click="editPrimaryContact">
                                    <b-icon icon="pencil"></b-icon>
                                </b-button>
                            </div>
                        </div>
                    </b-field>

                    <b-field
                        label="Secondary Emergency Contact">
                        <div class="columns" v-if="isEditSecondaryContact">
                            <div class="column">
                                <b-field 
                                    label="Name"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="secondary_contact_name"
                                        :value="secondary_contact_name"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field 
                                    label="Relationship"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="secondary_contact_relationship"
                                        :value="secondary_contact_relationship"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field 
                                    label="Phone"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="secondary_contact_phone"
                                        :value="secondary_contact_phone"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-button
                                    type="is-danger"
                                    @click="editSecondaryContact">
                                    <b-icon icon="cancel"></b-icon>
                                </b-button>
                            </div>
                        </div>
                        <div class="columns" v-else>
                            <div class="column">
                                Name:<br>
                                {{secondary_contact_name}}
                            </div>
                            <div class="column">
                                Relationship:<br>
                                {{secondary_contact_relationship}}
                            </div>
                            <div class="column">
                                Phone:<br>
                                {{secondary_contact_phone}}
                            </div>
                            <div class="column">
                                <b-button
                                    type="is-warning"
                                    @click="editSecondaryContact">
                                    <b-icon icon="pencil"></b-icon>
                                </b-button>
                            </div>
                        </div>
                    </b-field>

                    <b-field
                        label="Bank Information">
                        <div class="columns" v-if="isEditBankInfo">
                            <div class="column">
                                <b-field 
                                    label="Name"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="bank_name"
                                        :value="bank_name"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field 
                                    label="Account Number"
                                    :label-position="labelPosition">
                                    <b-input
                                        id="bank_account_number"
                                        :value="bank_account_number"
                                        >
                                    </b-input>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-button
                                    type="is-danger"
                                    @click="editBankInfo">
                                    <b-icon icon="cancel"></b-icon>
                                </b-button>
                            </div>
                        </div>
                        <div class="columns" v-else>
                            <div class="column">
                                Name:<br>
                                {{bank_name}}
                            </div>
                            <div class="column">
                                Account number:<br>
                                {{bank_account_number}}
                            </div>
                            <div class="column">
                                <b-button
                                    type="is-warning"
                                    @click="editBankInfo">
                                    <b-icon icon="pencil"></b-icon>
                                </b-button>
                            </div>
                        </div>
                    </b-field>

                    <b-field
                        label="Files">
                        <ul>
                            <li 
                                v-for="file in files"
                                :key="file.id">
                                <a :href="file.path" download>{{file.name}}</a>
                            </li>
                        </ul>
                    </b-field>

                    <b-field 
                        class="file">
                        <b-upload 
                            id="file"
                            v-model="file"
                            @input="uploadFile">
                            <a class="button is-primary">
                                <b-icon icon="upload"></b-icon>
                                <span>Click to upload</span>
                            </a>
                        </b-upload>
                        <span class="file-name" v-if="file">
                            {{ file.name }}
                        </span>
                    </b-field>
                </div>
            </div>

            <router-link to="/employees">
                <button 
                    class="button is-secondary">
                    Back
                </button>
            </router-link>
            <button 
                class="button is-success"
                @click="validateForm">
                Save
            </button>
        </form>
    </div>
</template>
<script>
    export default {
        
        props: ['id'],
        data(){
            return {
                title: '',
                name: '',
                gender: 'NOINPUT',
                birth_date: null,
                position: '',
                department: '',
                company: '',
                workhours: '',
                workhour_type: 'MONTHLY',
                email: '',
                living_place: '',
                contact_address: '',
                phone: '',
                workphone: '',
                tax_number: '',
                taj_number: '',
                nationality: '',
                education: '',
                languages: '',
                superior: 0,
                tasks_responsiblities: '',
                status: true,

                primary_contact_name: '',
                primary_contact_relationship: '',
                primary_contact_phone: '',

                secondary_contact_name: '',
                secondary_contact_relationship: '',
                secondary_contact_phone: '',

                bank_name: '',
                bank_account_number: '',

                files: null,

                nameFieldType: '',
                labelPosition: 'on-border',

                isEditPrimaryContact: false,
                isEditSecondaryContact: false,
                isEditBankInfo: false,

                flatEmployees: null,
                file: null
            }
        },
        methods : {
            getEmployeeData(id){
                var url = '/api/employees/'+id
                axios.get(url, {
                }).then(response => {
                    this.title = response.data.title
                    this.name = response.data.name
                    this.gender = response.data.gender
                    this.birth_date = response.data.birth_date
                    this.position = response.data.position
                    this.department = response.data.department
                    this.company = response.data.company
                    this.workhours = response.data.workhours
                    this.workhour_type = response.data.workhour_type
                    this.email = response.data.email
                    this.living_place = response.data.living_place
                    this.contact_address = response.data.contact_address
                    this.phone = response.data.phone
                    this.workphone = response.data.workphone
                    this.tax_number = response.data.tax_number
                    this.taj_number = response.data.taj_number
                    this.nationality = response.data.nationality
                    this.education = response.data.education
                    this.languages = response.data.languages
                    this.superior = response.data.superior
                    this.tasks_responsiblities = response.data.tasks_responsiblities
                    this.status = response.data.status

                    this.primary_contact_name = response.data.primary_contact_name
                    this.primary_contact_relationship = response.data.primary_contact_relationship
                    this.primary_contact_phone = response.data.primary_contact_phone

                    this.secondary_contact_name = response.data.secondary_contact_name
                    this.secondary_contact_relationship = response.data.secondary_contact_relationship
                    this.secondary_contact_phone = response.data.secondary_contact_phone

                    this.bank_name = response.data.bank_name
                    this.bank_account_number = response.data.bank_account_number

                    this.files = response.data.files
                })
            },
            getEmployeeFlat(){
                axios.get('/api/employees/flat', {
                }).then(response => {
                    this.flatEmployees = response.data
                })
            },
            validateForm(){
                var name = document.getElementById('name')
                if(name && name.value){
                    this.saveEmployee()
                } else {
                    this.nameFieldType = 'is-danger'
                }
            },
            saveEmployee(){
                axios.post('/api/employees', {
                        id: this.$route.params.employeeId,
                        name: document.getElementById("name").value,
                        title: document.getElementById("title").value,
                        gender: document.getElementById("gender").value,
                        birth_date: document.getElementById("birth_date").value,
                        position: document.getElementById("position").value,
                        department: document.getElementById("department").value,
                        company: document.getElementById("company").value,
                        workhours: document.getElementById("workhours").value,
                        workhour_type: document.getElementById("workhour_type").value,
                        email: document.getElementById("email").value,
                        living_place: document.getElementById("living_place").value,
                        contact_address: document.getElementById("contact_address").value,
                        phone: document.getElementById("phone").value,
                        workphone: document.getElementById("workphone").value,
                        tax_number: document.getElementById("tax_number").value,
                        taj_number: document.getElementById("taj_number").value,
                        nationality: document.getElementById("nationality").value,
                        education: document.getElementById("education").value,
                        languages: document.getElementById("languages").value,
                        superior: document.getElementById("superior").value,
                        tasks_responsiblities: document.getElementById("tasks_responsiblities").value,
                        status: document.getElementById("status").value,

                        primary_contact_name: document.getElementById("primary_contact_name").value,
                        primary_contact_relationship: document.getElementById("primary_contact_relationship").value,
                        primary_contact_phone: document.getElementById("primary_contact_phone").value,

                        secondary_contact_name: document.getElementById("secondary_contact_name").value,
                        secondary_contact_relationship: document.getElementById("secondary_contact_relationship").value,
                        secondary_contact_phone: document.getElementById("secondary_contact_phone").value,

                        bank_name: document.getElementById("bank_name").value,
                        bank_account_number: document.getElementById("bank_account_number").value,
                    }
                ).then(response => {
                    if(response.data > 0){
                        this.$buefy.toast.open({
                            message: 'Something happened correctly!',
                            type: 'is-success'
                        })
                    } else {
                        this.$buefy.toast.open({
                            message: `Something's not good`,
                            type: 'is-danger'
                        })
                    }
                })
            },
            uploadFile(file){
                var employeeId = this.$route.params.employeeId
                let data = new FormData();
                data.append('uploadedFile', document.getElementById('file').files[0]);
                data.append('id', employeeId)

                axios.post('/api/employees/file',data).then(response => {
                    if(response.data > 0){
                        this.$buefy.toast.open({
                            message: 'File upload success!',
                            type: 'is-success'
                        })
                    } else {
                        this.$buefy.toast.open({
                            message: `Upload error`,
                            type: 'is-danger'
                        })
                    }
                })
            },
            editPrimaryContact(){
                this.isEditPrimaryContact = !this.isEditPrimaryContact
            },
            editSecondaryContact(){
                this.isEditSecondaryContact = !this.isEditSecondaryContact
            },
            editBankInfo(){
                this.isEditBankInfo = !this.isEditBankInfo
            }
        },
        created() {
            if(this.$route.params.employeeId > 0){
                this.getEmployeeData(this.$route.params.employeeId)
            }
            this.getEmployeeFlat()
        }
    }
</script>