<template>
    <div>
        <b-button 
            tag="router-link"
            class="field is-success is-fullwidth"
            to="/employees/0"
            >
            <b-icon icon="plus"></b-icon>
            <span>New Employee</span>
        </b-button>

        <b-modal 
            :active.sync="isDeleteComponentModalActive"
            :can-cancel="['escape', 'x']"
            has-modal-card>
            <EmployeeDeleteModal
                v-bind:id="DelID"
                @userDeleteSuccess="notification('is-success', 'User deleted!')"
                @userDeleteError="notification('is-danger', 'An error has occured!')"
            ></EmployeeDeleteModal>
        </b-modal>

        <b-table 
            :data="data" 
            :default-sort-direction="defaultSortDirection"
            :sort-icon="sortIcon"
            :sort-icon-size="sortIconSize"
            :loading="isLoading"
        >
            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" sortable numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="name" label="Name" sortable>
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="email" label="Email" sortable>
                    {{ props.row.email }}
                </b-table-column>

                <b-table-column field="created" label="Date Created" sortable>
                    {{ props.row.created_at }}
                </b-table-column>

                <b-table-column field="updated" label="Date Updated" sortable>
                    {{ props.row.updated_at }}
                </b-table-column>

                <b-table-column field="options" label="Options" centered>
                        <b-button 
                            type="is-warning" 
                            tag="router-link"
                            :to="/employees/+props.row.id">
                            <b-icon icon="pencil"></b-icon> 
                        </b-button>
                        <b-button type="is-danger" @click="delEmployee(props.row.id)">
                            <b-icon icon="delete"></b-icon> 
                        </b-button>
                </b-table-column>
    
            </template>

        </b-table>
    </div>
</template>
<script>
    import EmployeeDeleteModal from './includes/DeleteModal'

    export default {
        components: {
            EmployeeDeleteModal
        },
        data() {
            return {
                isDeleteComponentModalActive: false,

                createOrEditId: 0,
                DelID: null,

                isLoading: false,
                data: [],
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',
            }
        },
        methods: {
            getList(){
                this.isLoading = true
                axios.get('/api/employees', {
                }).then(response => {
                    this.data = response.data
                    this.isLoading = false
                })
            },
            delEmployee(id){
                this.DelID = id
                this.isDeleteComponentModalActive = true
            }
        },  
        created() {
            this.getList();
        }
    }
</script>