<template>
    <footer class='footer'>
        <div class="content has-text-centered">
            <p>Copyright &copy; {{ new Date().getFullYear() }} FeralSystems</p>
        </div>
    </footer>
</template>