<template>
    <b-navbar>
        <template slot="brand">
            <b-navbar-item href="/">
                <h1>Pelda Kft.</h1>
            </b-navbar-item>
        </template>
        <template slot="end">
            <b-navbar-item tag="div">
                <router-link to="/employees">
                    HR
                </router-link>
            </b-navbar-item>
            <b-navbar-item tag="div">
                <Usermenu></Usermenu>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>
<script>
    import Usermenu from './Usermenu';

    export default {
        components: {
            Usermenu
        },
    }
</script>