<template>
    <b-dropdown aria-role="list">
        <button class="button is-primary" disabled slot="trigger">
            <span>Irodista Károly</span>
            <b-icon icon="menu-down"></b-icon>
        </button>                   
    </b-dropdown>
</template>