@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  height: 100%;
  position: relative;
}

.app {
  min-height: 110vh;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

