<template>
        <div class='app'>
            <Header></Header>
                <div class="container is-fluid">
                    <br>
                    <div class="box">
                        <main>
                            <router-view></router-view>
                        </main>
                    </div>
                </div>
            <Footer></Footer>
        </div>
</template>
<script>
    import Header from './includes/Header'
    import Footer from './includes/Footer'

    export default {
        components: {
            Header,
            Footer,
        }
    }
</script>
